{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Raswanth</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>This is<br />
						<div style="color: #18bfef">Raswanth</div></h1>
						<p>I'M A WEB DEVELOPER & PROGRAMMER LIVING IN INDIA AND I MAKE<BR> WEB APPLICATIONS, USUALLY BASED ON <a href="https://www.djangoproject.com/">DJANGO</a></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{% url 'home' %}" class="logo">Raswanth</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{% url 'home' %}">This is Raswanth</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/raswanth-gs-b4873b217/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://wa.me/916374415015?text=" class="icon brands alt fa-whatsapp"><span class="label">Whatsapp</span></a></li>
							<li><a href="https://www.instagram.com/_raswanth_/?hl=en" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/RaswanthGS" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a>About</a></h2>
									<img src="static/images/webicon.png" width="100">
									<p>Hello, My name is Raswanth and I enjoy developing a website. I like to define myself 
										by the work i want to do. Skills can be taught, personality is inheritent. I prefer to 
										keep learning, continue challenging myself, and do interesting things that matter.<br>

										I like to develop expertise in a number of areas over the course of my life and career.
										I currently work remotely with a selected freelance clients and open for opportunities.
									</p>
								</header>
								<a href="#" class="image"><img src="{% static 'images/about-img.png' %}" width="300" alt="" /></a>
							</article>
							<div>
								<header class="major">
									<h2><a>Contact</a></h2>
									<p>
										I'm seeking out opportunities to collaborate with companies / agencies / individuals, not just work for them.
										I want to bring my collective design experience to the table where we can work together to solve real business 
										problems in a way that optimizes all our respective experience and knowledge. I want to favour open-minded
										collaborators where egos are out of the equation.<br><b>Feel free to reach out through any platform.</b>
									</p>
								</header>
							</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<tabel>
									{{ forms }}
								</tabel>
								{% csrf_token %}
								<!--
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								-->
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>14/16, Rudrappanagar<br />
								Udumalpet, 642126</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="tel:+916374415015">(+91) 63744-15015</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="mailto:raswanth47@gmail.com">raswanth47@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/raswanth-gs-b4873b217/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://wa.me/916374415015?text=" class="icon brands alt fa-whatsapp"><span class="label">Whatsapp</span></a></li>
									<li><a href="https://www.instagram.com/_raswanth_/?hl=en" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/RaswanthGS" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>Designed & Built by Raswanth</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>